body {
  background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_355969.png");
  }
  p {
    color: cornsilk;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
  }